@color_foreground : white;
@color_background : black;
@padding          : 10px;
@shell_width      : 99%;
@url_pw_max_width : 100px;

body{
    color: white;
    font-size: small;
    font-family: arial;
    background-color: gray;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#shell{
    margin: @padding auto;
    width: @shell_width;

    #target{
        padding-bottom: @padding / 2;

        input, select{
            background-color: @color_background;
            border: none;
            color: @color_foreground;
            margin-right: @padding / 4;

            option{
                color: @color_background;
            }
        }

        #password{
            max_width: @url_pw_max_width;
            width: 33%;
        }
        
        #port{
            color: @color_foreground;
            width: 70px;
        }

        #url{
            width: 33%;
            max_width: @url_pw_max_width;
        }
    }

    #terminal{
        background-color: @color_background;
        overflow: auto;
        padding: 0 @padding / 2;

        #output{
            overflow: auto;
        }

        #prompt{
            background-color: transparent;
            border: none;
            color: @color_foreground;
            font-family: arial;
            font-size: small;
            width: 100%;

            &:focus{
                outline: none;
                outline-width: 0;
            }
        }
    }

    #status{
        background-color: @color_background;
        font-size: x-small;
        margin-top: @padding / 2;
        padding: @padding / 2;
    }
}
