body{color:white;font-size:small;font-family:arial;background-color:slategray;line-height:1.5;margin:0;padding:0;}body p.warning{background-color:darkred;border-radius:5px;font-weight:bold;padding:10px;text-align:center;}
#shell{margin:10px auto;width:99%;}#shell #connection{padding-bottom:5px;}#shell #connection input,#shell #connection select{background-color:#000000;border:none;border-radius:5px;color:#ffffff;margin-right:2.5px;padding:5px;}#shell #connection input option,#shell #connection select option{color:#000000;}
#shell #connection #password{max_width:100px;width:33%;}
#shell #connection #port{color:#ffffff;width:70px;}
#shell #connection #url{width:33%;max_width:100px;}
#shell #terminal{background-color:#000000;border-radius:5px;overflow:auto;padding:10px;}#shell #terminal #output{overflow:auto;}#shell #terminal #output div.wash{color:lightgreen;}
#shell #terminal #output div.wash_error{color:salmon;}
#shell #terminal pre{display:inline;margin:0;padding:0;}#shell #terminal pre div.output{color:silver;}
#shell #terminal #prompt_context{margin-right:1em;}
#shell #terminal #prompt{background-color:transparent;border:none;color:#ffffff;display:inline;font-family:"Courier New";font-size:small;margin:0;padding:0;}#shell #terminal #prompt:focus{outline:none;outline-width:0;}
#shell #status{background-color:#000000;border-radius:5px;font-size:x-small;margin-top:5px;padding:5px;}
