body{color:white;font-size:small;font-family:arial;background-color:gray;line-height:1.5;margin:0;padding:0;}
#output{overflow:scroll-y;}
#prompt{border:none;font-family:arial;font-size:small;}
#status{font-size:x-small;}
#target #ssl{display:inline-block;float:right;}
#target input,#target select{border:none;}
